.custom-file-input {
    width: 100%;
    // max-width: 350px;
    background: $white;
    color: $black;
    padding: 5px;
    border: 1px solid $dark;
    border-radius: 10px;

    &::file-selector-button {
        background: $primary;
        color: $white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-right: 20px;
        border-radius: 10px;
        transition: background .2s ease-in-out;

        &:hover {
            background: #25928d;
        }
    }
}